@model EmployeeView

@{
    ViewData["Title"] = "Details";
}

<h2>Сведенья о работнике #@Model.Id</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Фамилия</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <th>Возраст</th>
            <td>@Model.Age</td>
        </tr>
    </tbody>
</table>
<a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
@Html.ActionLink("К списку сотрудников", "Index")

