@model EmployeeView

@{
    ViewData["Title"] = "Details";
}

<h2>Сведенья о работнике #@Model.Id</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>@Html.LabelFor(e => e.LastName)</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(e => e.FirstName)</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(e => e.Patronymic)</th>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(e => e.Age)</th>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(e => e.Position)</th>
            <td>@Model.Position</td>
        </tr>
    </tbody>
</table>
<a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
@Html.ActionLink("К списку сотрудников", "Index")