@model IEnumerable<EmployeeView>

@{
    ViewData["Title"] = "Работники";
}

<hr />
<a asp-controller="Employees" asp-action="Edit" class="btn btn-success">Добавтиь</a>
<hr />

<table class="table table-bordered">
    @if (Model.Any())
    {
        <thead>
        <tr>
            <th>id</th>
            <th>@Html.LabelFor(e => e.First().LastName)</th>
            <th>@Html.LabelFor(e => e.First().FirstName)</th>
            <th>@Html.LabelFor(e => e.First().Patronymic)</th>
            <th>@Html.LabelFor(e => e.First().Age)</th>
            <th>@Html.LabelFor(e => e.First().Position)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
                <td>@employee.Position</td>
                <td>@Html.ActionLink("Детали", "Details", new { Id = employee.Id }, new { @class = "btn btn-info" })</td>
                @*<td><a href="#" class="btn btn-info">Детали</a></td>*@
                <td><a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Удалить</a></td>
            </tr>
        }
        </tbody>
    }
    else
    {
        <p>Сотрудники отсутствуют</p>
    }
</table>

